body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.login-btn {
    padding: 15px 30px;
    background-color: #28a745; /* Cor chamativa (verde) */
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-btn:hover {
    background-color: #218838; /* Cor mais escura para o hover */
    transform: scale(1.05); /* Aumenta o tamanho do botão levemente */
}

.login-btn:active {
    background-color: #1e7e34; /* Cor mais escura quando clicado */
    transform: scale(1);
}
